# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Python crap
*.pyc

# Compiled Static libraries
*.lai
*.la
*.a
/src/main
/src/mhdstats
/src/makehist
/src/milos
/src/srhdhist
/src/testfft
/src/testhist
/src/testsamp
/data/*

/lib/*
/python/build/*
/python/cow.py
/python/cow_config.py
/python/cow_wrap.c
/setup.sh
/tests/testcow
/tests/testfft
/tests/testhist
/tests/testsamp
/bin/mhdstats
/bin/srhdhist
/include/cow.h
/include/srhdpack.h
/cython/cow.c
/cython/cow_config.py
/python/ccow.py
