# ----------------------------------------------------------
# Compiler configuration
# ----------------------------------------------------------
CC = cc
CCMM = $(CC)
CFLAGS = -std=c99 -Wall -O3
CLIBS = -lm
AR = ar rcu
RANLIB = ranlib 


# ----------------------------------------------------------
# Optional dependencies (set to 1 if available)
# ----------------------------------------------------------
HAVE_MPI = 0
HAVE_HDF5 = 0
HAVE_FFTW = 0
HAVE_RNPL = 0


# ----------------------------------------------------------
# System library directories
# ----------------------------------------------------------
HDF5_HOME = /usr/local
FFTW_HOME = /usr/local
RNPL_HOME = /usr/local
